<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OVPN4ALL | </title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
  </head>
  <body>


<div class="top-bar">
  <div class="top-bar-left">
    <h1>OVPN4ALL</h1>
  </div>
</div>
<!-- /Navigation -->
<form>
  <div class="grid-container grid-padding-x">
    <div class="grid-y grid-padding-y">
      <div class="callout secondary">
        <div class="cell auto large-2">
          <label>Port (Must be between 1024 and 65352)
            <input type="text" placeholder="1234">
          </label>
        </div>
        <div class="cell small-9 medium-10 large-10">
          <label>Gateway (Your router ip address)
            <input type="text" placeholder="192.168.0.1">
          </label>
        </div>
        <div class="cell small-9 medium-10 large-10">
          <label>Gateway netmask (Your router netmask)
            <input type="text" placeholder="255.255.255.0">
          </label>
        </div>
        <button class="submit success button" type="submit">Next</button>
      </div>
    </div>
  </div>
</form>
<br>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
